.exercise-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.exercise-title {
  text-align: center;
  flex-grow: 1;
}

.form-container,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.form-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-form {
  position: absolute;
  font-size: 14px;
  top: 5px;
  right: 5px;
}

.add-exercise {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.update-exercise {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exercise-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.exercise-info {
  flex-grow: 1;
}

.submit-button {
  margin-top: 10px;
  padding: 3px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.add-button,
.update-button,
.delete-button {
  width: 70px;
  height: 35px;
  font-size: 14px;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}
