.exercise-card {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  width: 18rem;
  background-color: #c3dbdb !important;
}

.exercise-card h3 {
  margin-top: 0;
  color: #ffffff;
}

.exercise-card button {
  margin-right: 5px;
}

.delete-btn {
  background-color: #48535b !important;
  border-color: #48535b !important;
}

.delete-btn:hover {
  background-color: #b4756e !important;
  border-color: #b4756e !important;
}

.update-btn {
  background-color: #66B2B2 !important;
  border-color: #66B2B2 !important;
}

.update-btn:hover {
  background-color: #48535b !important;
  border-color: #48535b !important;
}
